<%= render "shared/header_edit" %>
<%= render_breadcrumbs separator: ' > ' %>

<div class="brewers-regist-contents">

  <div class="brewers-regist-main w-50 mx-auto text-center my-3">
    <h2 class="brewers-regist-title">
      酒蔵の登録
    </h2>

    <%= form_with model: @brewer, url: brewers_path,local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>

      <table class="table" >
          <tbody>
            <tr>
              <th scope="row" class = "border rounded bg-light fs-5 fw-bold">酒蔵名</th>
              <td class = "border  rounded align-middle">
                <%= f.text_field :name, class:"items-text form-control", id:"brewer-name", placeholder:"酒蔵名（必須 40文字まで)", maxlength:"40" %>
              </td>
            </tr>
            <tr>
              <th scope="row" class = "border rounded bg-light fs-5 fw-bold">説明</th>
              <td class = "border rounded align-middle">
                <%= f.text_area :explanation, class:"items-text form-control", id:"brewer-info", placeholder:"酒蔵の説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
              </td>
            </tr>
            <tr>
              <th scope="row" class = "border rounded bg-light fs-5 fw-bold">住所</th>
              <td class = "border rounded align-middle">
                <%= f.text_field :address, class:"items-text form-control", id:"brewer-info", placeholder:"住所（必須 40文字まで）" ,maxlength:"40" %>
              </td>
            </tr>
            <tr>
              <th scope="row" class = "border rounded bg-light fs-5 fw-bold">酒蔵の地域</th>
              <td class = "border rounded align-middle">
                <%= f.collection_select(:area_id, Area.all, :id, :name, {}, {class:"select-box", id:"brewer-area"}) %>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="edit-btn-contents">
          <%= f.submit "登録する" ,class:"form-submit btn btn-primary badge rounded-pill btn-lg w-50 fs-6 mx-auto d-flex justify-content-center mb-3" %>
          <%=link_to 'もどる', brewers_path, class:"form-submit btn btn-secondary badge rounded-pill btn-lg w-50 fs-6 mx-auto d-flex justify-content-center mb-3" %>
        </div>
    <% end %>
  </div>

</div>
<%= render "shared/footer" %>