<header>
  <div class='nav'>
    <div class='logo'>
      <%= link_to 'SAKE LIKE', "/" %>
    </div>
    <ul class= 'lists-right'>
      <%# <%if user_signed_in? %>
        <%# <li><%= link_to 'ようこそ', "#", class: "user-nickname" %></li>
        <%# <li><%= link_to 'ログアウト', "#", method: :delete, class: "logout"%> </li>
        <%# <% else %> 
        <li><%= link_to 'ログイン', "#", class: "login" %></li>
        <li><%= link_to 'サインアップ', new_user_registration_path , class: "sign-up" %></li>
      <%# <% end %> 
    </ul>
  </div>

  <div class = 'link-button'>
    <div class='intro'>
      <%= link_to 'お酒の紹介', "/" %>
    </div>
    <div class='lank'>
      <%= link_to 'ランキング', "/" %>
    </div>
    <div class='review'>
      <%= link_to '口コミ', "/" %>
    </div>
  </div>
  
</header>