<div class="brewers-edit-contents">
  <header class="brewers-edit-header">
    <%# <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %> 
  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">日本酒の情報を入力</h2>
    <%= form_with model: [@brewer, @item],class: 'item-form', local: true do |f| %>
    
      <%= render 'shared/error_messages', model: f.object %>
  
      <div class="edit-item">
        <div class="img-upload">
          <div class="weight-bold-text">
            日本酒の画像
            <span class="indispensable">必須</span>
          </div>
          <div class="click-upload">
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :image, id:"item-image" %>
          </div>
        </div>

        <div class="items-name">
          <div class="weight-bold-text">
            日本酒名
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
        </div>

        <div class="items-explain">
          <div class="weight-bold-text">
            日本酒の説明
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :explanation, class:"items-text", id:"item-info", placeholder:"日本酒の説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
        </div>

      </div>

      <div class="edit-btn-contents">
        <%= f.submit "変更する" ,class:"edit-btn" %>
        <%=link_to 'もどる', brewer_path, class:"back-btn" %>
      </div>
    <% end %>
  </div>
</div>