<%= render "shared/header" %>
<div class='item-contents'>
  <div>
    <h2 class='title'>日本酒一覧</h2>
    <ul class='item-lists'>
      <% @item.each do |item| %>
        <li class='sake-list'>
          <%= link_to item_path(item.id) do %>
            <div class='item-img-content'>
              <%= image_tag item.image.variant(resize: '250x250'), class: "item-img" %>
            </div>
            <div class='sake-info'>
              <h2 class='item-name'>
                  <%= item.name %>
              </h2>
              <h2 class='item-explanation'>
                <%= item.explanation %>
              </h2>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
<%= render "shared/footer" %>